*.log
local_settings.py
db.sqlite3
db.sqlite3-journal
media/

__pycache__/
*.py[cod]
*$py.class

.venv/

credentials.json


.DS_Store
Thumbs.db
.vscode/
.idea/

email_service/node_modules/

.serverless/
email_service/.serverless/

npm-debug.log*
yarn-debug.log*
yarn-error.log*